@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Ubuntu&display=swap');

body{
  font-family: "Lexend", sans-serif;
  background-color: rgb(29, 29, 29);
  color: white;
}